{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>Покупка железнодорожного билета</h1>

    <form action="/lab3/ticket">
        <label>Фамилия:</label>
        <div>
            <input type="text" placeholder="Фамилия" name="user1" value="{{user1 or ''}}" required>
        </div>
        <label>Имя:</label>
        <div>
            <input type="text" placeholder="Имя" name="user2" value="{{user2 or ''}}" required>
        </div>
        <label>Отчество:</label>
        <div>
            <input type="text" placeholder="Отчество" name="user3" value="{{user3 or ''}}" required>
        </div>

        <label>Тип билета:</label>
        <div>
            <select name="typeTicket">
                <option value="childlike" {{sex == 'childlike' and 'selected'}}>детский</option>
                <option value="adult" {{sex == 'adult' and 'selected'}}>взрослый</option>
            </select>
        </div>

        <label>Полка:</label>
        <div>
            <select name="typeShelf">
                <option value="lower" {{sex == 'lower' and 'selected'}}>нижняя</option>
                <option value="upper" {{sex == 'upper' and 'selected'}}>верхняя</option>
                <option value="upperSide" {{sex == 'upperSide' and 'selected'}}>верхняя боковая</option>
                <option value="lowerSide" {{sex == 'lowerSide' and 'selected'}}>нижняя боковая</option>
            </select>
        </div>

        <label>С багажом?</label>
        <div>
            <select name="luggage">
                <option value="no" {{sex == 'no' and 'selected'}}>нет</option>
                <option value="yes" {{sex == 'yes' and 'selected'}}>да</option>
            </select>
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" min="18" max="120" value="{{age or ''}}" required>
        </div>

        <label>Пункт выезда:</label>
        <div>
            <input type="text" placeholder="пункт выезда" name="departurePoint" value="{{departurePoint or ''}}" required> 
        </div>

        <label>Пункт назначения:</label>
        <div>
            <input type="text" placeholder="пункт назначения" name="destination" value="{{destination or ''}}" required> 
        </div>

        <label>Дата поездки:</label>
        <div>
            <input type="date" name="date" value="{{date or ''}}" required> 
        </div>
        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>

{% endblock %}